// app global css in SCSS form
body {
  color: $dark
}

.shadow {
  box-shadow: 0 1px 4px 0 rgba(21, 7, 38, 0.08);
}

.q-tab .q-focusable:focus > .q-focus-helper, body.desktop .q-manual-focusable--focused > .q-focus-helper, body.desktop .q-hoverable:hover > .q-focus-helper {
  opacity: 0 !important;
  background: none !important; 
}

/* Printing for the editor */
@media print {
  #editor-layout *, #editor-container * { 
    position: relative !important;
    padding: 0 !important;
    height: 1px !important;
    overflow: visible !important;
  }
  #writing-area {
    position: absolute !important; 
    width: 100% !important; 
    height: 100% !important;
    top: 0 !important; 
    padding: 0 !important; 
    margin: -1px !important;
  }
}

/* Colors */
.bg-intresso {
  background: #FA5183;
}

.text-intresso {
  color: #FA5183;
}