// app global css in SCSS form
body {
  color: $dark
}

.q-tab .q-focusable:focus > .q-focus-helper, body.desktop .q-manual-focusable--focused > .q-focus-helper, body.desktop .q-hoverable:hover > .q-focus-helper {
  opacity: 0 !important;
  background: none !important; 
}